{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.services.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="service-page" class="pages service-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				{{ with .Site.Data.services.title }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s"
					data-wow-duration="500ms">{{ . }}</h2>{{ end }}
				{{ with .Site.Data.services.subtitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s"
					data-wow-duration="500ms">{{ . }}</p>{{ end }}

				{{ with .Site.Data.services.description }}<p class="text-justify wow fadeInUp animated">{{ . }}</p>{{ end }}
			</div>
			{{ with .Site.Data.services.image }}
			<div class="col-lg-6 order-1 order-lg-2">
				<div class="block">
					<img class="img-fluid" src="{{ . | absURL }}" alt="about-image">
				</div>
			</div>
			{{ end }}
		</div>

		<div class="row services">
			{{ range .Site.Data.services.items }}
			<div class="col-12 mb-5">
				<div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
					<div class="d-flex">
						{{ with .icon }}<h1 class="d-inline"><i class="icon {{ . }} pr-3"></i></h1>{{ end }}
						{{ with .title }}<h4 class="d-inline align-self-center">{{ . }}</h4>{{ end }}
					</div>
					{{ with .description }}<p class="mt-3">{{ . | safeHTML }}</p>{{ end }}
				</div>
			</div>
			{{ end }}
		</div>

		<!-- <div class="row">
			<div class="col-lg-6 order-2 order-lg-1">
				<div class="block">
					<div class="row service-parts text-left">
						{{ range .Site.Data.services.serviceItem }}
						<div class="col-12">
							<div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
								{{ with .icon }}<i class="{{ . }}"></i>{{ end }}
								{{ with .title }}<h4>{{ . }}</h4>{{ end }}
								{{ with .description }}<p>{{ . }}</p>{{ end }}
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
			{{ with .Site.Data.services.image }}
			<div class="col-lg-6 order-1 order-lg-2">
				<div class="block">
					<img class="img-fluid" src="{{ . | absURL }}" alt="about-image">
				</div>
			</div>
			{{ end }}
		</div> -->
	</div>
</section>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

{{ end }}