/* Slick */
.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus,
.slick-dots li button:before,
.slick-prev:before,
.slick-next:before
{
    color: #666;
}


.slick-dots li button
{
    color: #888888;
}


.slick-dots li.slick-active button:before
{
    color: #333333;
}


/* ## Colors */
:root{
    --primary: #02bdd5
}


/* #Pages */
#hero-area::before
{
    background: rgba(0, 0, 0, 0.75);
}

#hero-area *{
    color: #fff !important;
}


/* Services */
.services .icon{
    color: var(--primary);
}