{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <div class="block">
          {{ with .Site.Data.contact.contactFormTitle }}<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms"
            data-wow-delay=".3s">{{ . }}</h2>{{ end }}
          {{ with .Site.Data.contact.contactFormSubtitle }}<p class="subtitle-des wow fadeInDown"
            data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
          <div class="contact-form">
            <form method="POST" action="{{ .Site.Params.contactFormAction }}">

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                <input type="text" placeholder="Your Name" class="form-control" name="name" id="name" disabled>
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                <input type="email" placeholder="Your Email" class="form-control" name="email" id="email" disabled>
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                <input type="text" placeholder="Subject" class="form-control" name="subject" id="subject" disabled>
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message" disabled></textarea>
              </div>

              <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                <button type="submit" id="contact-submit" class="btn btn-default btn-send hvr-bounce-to-right" disabled
                  value="Send Message">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {{ if .Site.Data.contact.googleMapEmbedURL }}
      <div class="col-md-6">
        <div class="map-area">
          {{ with .Site.Data.contact.mapTitle }}<h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms"
            data-wow-delay=".3s">{{ . }}</h2>{{ end }}
          {{ with .Site.Data.contact.mapSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms"
            data-wow-delay=".5s">{{ . }}</p>{{ end }}
          <div class="map">
            <iframe src="{{ .Site.Data.contact.googleMapEmbedURL }}" width="100%" height="400" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      {{ else }}
      <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
				{{ with .Site.Data.contact.image }}<img src="{{ . | absURL }}" alt="" class="img-fluid">{{ end }}
      </div>
      {{ end }}
    </div>

    <hr class="my-5">

    <div class="row   wow fadeInDown">
      <div class="col">
        <b>Our Address</b>
        <p>
          <h3 class="d-inline">{{ .Site.Title }}</h3>
          <br><br>
          {{ .Site.Data.contact.address }}
        </p>
      </div>

      {{ if .Site.Data.contact.emails }}
      <div class="col">
        <b>contact</b>
        <p class="mt-3">
          {{ range .Site.Data.contact.emails }}
          <a class="text-dark d-block mt-2" href="mailto:{{.}}">{{.}}</a>
          {{ end }}
        </p>
      </div>
      {{ end }}

      {{ if .Site.Data.contact.phones }}
      <div class="col">
        <b>call us</b>
        <p class="mt-3">
          {{ range .Site.Data.contact.phones }}
          <a class="text-dark d-block mt-2" href="tel:{{.}}">{{.}}</a>
          {{ end }}
        </p>
      </div>
      {{ end }}

    </div>

    <hr>

    <div class="mt-4   wow fadeInDown">
        {{ "<!-- Social Media -->" | safeHTML }}
        <p>follow us on</p>
        {{ range .Site.Params.socialIcon }}
        <h2 class="d-inline pr-3">
          <a class=" text-secondary" target="_blank" href="{{ .url | safeURL }}"><i class="{{ .icon }}"></i></a>
        </h2>
        {{ end }}
    </div>
  </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ end }}